<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rangjin's Blog</title>

    <link rel="stylesheet" th:href="@{/lib/material-icons.css}">
    <link rel="stylesheet" th:href="@{/lib/base16-light.css}">
    <link rel="stylesheet" th:href="@{/codemirror/lib/codemirror.css}">
    <link rel="stylesheet" th:href="@{/lib/default.css}">
    <link rel="stylesheet" th:href="@{/lib/github-markdown.css}">
    <link rel="stylesheet" th:href="@{/lib/github-gist.css}">
    <link rel="stylesheet" th:href="@{/lib/spell-checker.min.css}">
    <link rel="stylesheet" th:href="@{/lib/sweetalert.css}">
    <link rel="stylesheet" th:href="@{/css/post.css}">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/css/clean-blog.min.css" rel="stylesheet">

</head>

<body class="no-spellcheck">

<div th:replace="fragment/nav :: navFragment"></div>
<div layout:fragment="header"></div>
<div layout:fragment="content"></div>

<hr>

<div th:replace="fragment/footer :: footerFragment"></div>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/js/clean-blog.min.js"></script>

<script th:src="@{/lib/markdown-it.js}"></script>
<script th:src="@{/lib/markdown-it-footnote.js}"></script>
<script th:src="@{/lib/highlight.pack.js}"></script>
<script th:src="@{/lib/emojify.js}"></script>
<script th:src="@{/codemirror/lib/codemirror.js}"></script>
<script th:src="@{/codemirror/overlay.js}"></script>
<script th:src="@{/codemirror/xml/xml.js}"></script>
<script th:src="@{/codemirror/markdown/markdown.js}"></script>
<script th:src="@{/codemirror/gfm/gfm.js}"></script>
<script th:src="@{/codemirror/javascript/javascript.js}"></script>
<script th:src="@{/codemirror/css/css.js}"></script>
<script th:src="@{/codemirror/htmlmixed/htmlmixed.js}"></script>
<script th:src="@{/codemirror/lib/util/continuelist.js}"></script>
<script th:src="@{/lib/spell-checker.min.js}"></script>
<script th:src="@{/lib/rawinflate.js}"></script>
<script th:src="@{/lib/rawdeflate.js}"></script>
<script th:src="@{/lib/sweetalert.min.js}"></script>
<script th:src="@{/js/post.js}"></script>
<script th:src="@{/js/blog.js}"></script>

<div layout:fragment="script"></div>

</body>
</html>