<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default_layout}">

<!-- Page Header -->
<header layout:fragment="header" class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Create Post</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto" style="border: 1px gray solid; padding-top: 15px; margin-bottom: 50px">
            <form class="form form-horizontal" method="post">
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="title">Title</label>
                    <div class="col-lg-12">
                        <input type="text" class="form-control" id="title" name="title" placeholder="게시글 제목"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Category</label>
                    <div class="col-lg-6">
                        <select id="categoryId" class="form-control" name="categoryId">
                            <option value="" hidden>게시글 카테고리</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Status</label>
                    <div class="col-lg-6">
                        <select id="status" class="form-control" name="status">
                            <option value="" hidden>게시글 공개 상태</option>
                            <option>Public</option>
                            <option>Private</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Content</label>
                    <div class="col-lg-12">
                        <textarea id="mdeditor" cols="30" rows="10" class="form-control" name="content" readonly></textarea>
                    </div>
                </div>

                <div class="form-group" style="float: right;">
                    <input id="post-create-button" class="btn btn-primary" type="button" value="Submit">
                </div>

            </form>
        </div>
    </div>
</div>

<script layout:fragment="script">
    create();
</script>

</html>
