<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default_layout}">

<!-- Page Header -->
<header layout:fragment="header" class="masthead" style="background-image: url('/img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="post-heading">
          <h1 id="post-title"></h1>
          <span class="meta">
            Posted at <strong id="post-updated-at"></strong>
            <br>
            Category : <strong id="post-category-name"></strong>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article layout:fragment="content">
  <div class="container">
    <div class="row">
      <div class="font col-lg-10 col-md-10 mx-auto">
        <div style="float: right;">
          <a id="post-edit-button" class="btn-sm btn-primary">Edit</a>
          <a id="post-delete-button" class="btn-sm btn-primary">Delete</a>
        </div>
      </div>
      <div class="font col-lg-10 col-md-10 mx-auto" style="margin-bottom: 50px;">
        <div id="in">
          <textarea id="mdeditor" cols="30" rows="10" class="form-control" name="content" readonly></textarea>
        </div>
        <div id="out" class="mdeditor" style="margin-top: 15px;"></div>
      </div>
    </div>
  </div>
</article>

<script layout:fragment="script">
  detail();
</script>

</html>
