<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<!-- Page Header -->
<header layout:fragment="header" class="masthead" style="background-image: url('/img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="post-heading">
          <h1 th:text="${post.title}"></h1>
          <span class="meta">
            Posted at <strong th:text="${#temporals.format(post.getUpdatedAt(), 'yyyy-MM-dd HH:mm')}"></strong>
            <br>
            Category : <strong th:text="${post.getCategoryName()}"></strong>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article layout:fragment="content">
  <div class="container">
    <div class="row">
      <div class="font col-lg-10 col-md-10 mx-auto" style="margin-bottom: 50px;">
        <div sec:authorize="isAuthenticated()" style="float: right;">
          <a th:href="@{../../post/edit/{id}(id = ${post.getId()})}" class="btn-sm btn-primary">Edit</a>
          <a th:onclick="deleteConfirm([[${post.getId()}]])" class="btn-sm btn-primary">Delete</a>
        </div>
        <div id="in" style="display: none;"><textarea id="code" name="content" th:utext="${post.content}" readonly></textarea></div>
        <div id="out" style="margin-top: 40px;" class="markdown-body"></div>
      </div>
    </div>
  </div>
</article>

<script layout:fragment="script">
  function deleteConfirm(id) {
    var result = confirm('정말로 게시글을 삭제하시겠습니까?');

    if (result) {
      alert('게시글이 삭제되었습니다.');

      console.log(location.host + "/post/delete/" + id);
      location.href = "http://" + location.host + "/post/delete/" + id;
    }
  }
</script>

</html>
