<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default_layout}">

<!-- Page Header -->
<header layout:fragment="header" class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Edit Category</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto" style="border: 1px gray solid; margin-bottom: 50px">
            <form th:action="@{/category/edit/{id}(id = ${category.getId()})}" th:object="${dto}" class="form form-horizontal" method="post">
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="name">Name</label>
                    <div class="col-lg-12">
                        <input type="text" class="form-control" id="name" name="name"
                               th:placeholder="${#fields.hasErrors('name') ? #fields.errors('name').get(0) : '카테고리 이름'}"
                               th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                               th:value="${#fields.hasErrors('name') ? null : category.getName()}"/>
                    </div>
                </div>

                <div class="form-group" style="float: right;">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>

            </form>
        </div>
    </div>
</div>

</html>
