<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default_layout}">

<!-- Page Header -->
<header layout:fragment="header" class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Categories</h1>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>

<!-- Post Content -->
<article layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="font col-lg-10 col-md-10 mx-auto">
                <div id="categoryTable">
                    <table class="table table-hover" style="margin-bottom: 50px;">
                        <thead>
                        <tr id="categoryTableHead">
                            <td>#</td>
                            <td>이름</td>
                            <td>게시물 갯수</td>
                        </tr>
                        </thead>
                        <tbody id="categoryTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</article>

<script layout:fragment="script">
    categoryList();
</script>

</html>
