<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<!-- Page Header -->
<header layout:fragment="header" class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Categories</h1>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>

<!-- Post Content -->
<article layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="font col-lg-10 col-md-10 mx-auto">
                <div sec:authorize="isAuthenticated()" style="float: right; margin-bottom: 20px;">
                    <a th:href="@{/category/create}" class="btn-sm btn-primary">Create</a>
                </div>
                <div>
                    <table class="table table-hover" style="margin-bottom: 50px;">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>이름</td>
                            <td>게시물 갯수</td>
                            <td sec:authorize="isAuthenticated()">수정</td>
                            <td sec:authorize="isAuthenticated()">삭제</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:with="start = 0" th:each="category : ${categories}">
                            <td th:text="${categoryStat.index + 1}"></td>
                            <td th:text="${category.getName()}"  th:onclick="location.href = 'http://' + location.host + '/post/category/' + [[${category.getId()}]]"></td>
                            <td th:text="${category.getPostCnt()}"></td>
                            <td sec:authorize="isAuthenticated()"><a th:href="@{/category/edit/{id}(id = ${category.getId()})}" class="btn-sm btn-primary">Edit</a></td>
                            <td sec:authorize="isAuthenticated()"><a th:onclick="deleteConfirm([[${category.getId()}]])" class="btn-sm btn-primary">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</article>

<script layout:fragment="script">
    function deleteConfirm(id) {
        var result = confirm("해당 카테고리와 게시물들을 전부 삭제하시겠습니까?");

        if (result) {
            alert('카테고리와 게시물들이 전부 삭제되었습니다');
            location.href = 'http://' + location.host + '/category/delete/' + id;
        }
    }
</script>

</html>
