<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/default_layout}">

<!-- Page Header -->
<header layout:fragment="header"class="masthead" style="background-image: url('/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Rangjin's Blog</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div layout:fragment="content" class="container">
  <div class="row">
    <div class="font col-lg-8 col-md-10 mx-auto" style="margin-bottom: 50px;">
      <div sec:authorize="isAuthenticated()" style="float: right;">
        <a th:href="@{/post/create}" class="btn-sm btn-primary">Create</a>
      </div>
      <div class="post-preview" th:each="post : ${list}">
        <a th:href="@{'/post/detail/' + ${post.getId()}}">
          <h2 class="post-title" th:text="${post.getTitle()}"></h2>
          <!-- #string.abbreviate : 글자 수 자르기 -->
          <h3 class="post-subtitle" th:text="${#strings.abbreviate(post.getContent(), 50)}"></h3>
        </a>
        <p class="post-meta">
          <!-- #temporals.format : LocalDateTime 출력 형식 지정 -->
          Posted at <strong th:text="${#temporals.format(post.getUpdatedAt(), 'yyyy-MM-dd HH:mm')}"></strong>
          <br>
          Category <strong th:text="${post.getCategoryName()}"></strong>
        </p>
        <hr>
      </div>

      <!-- Pager -->
      <div>
        <nav style="margin-top: 15px;">
          <ul class="pagination justify-content-center" th:with="start = ${T(Math).floor(list.number / 10) * 10 + 1}, last=(${start + 9 < list.totalPages ? start + 9 : list.totalPages})">
            <li class="page-item">
              <a class="page-link" th:href="@{/(page = 1)}">
                <span><<</span>
              </a>
            </li>
            <li class="page-item" th:classappend="${list.first} ? 'disabled'">
              <a class="page-link" th:href="${list.first} ? '#' : @{/(page = ${list.number})}">
                <span><</span>
              </a>
            </li>
            <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:classappend="${page == list.number + 1} ? 'active'">
              <a class="page-link" th:text="${page}" th:href="@{/(page = ${page})}"></a>
            </li>
            <li class="page-item" th:classappend="${list.last} ? 'disabled'">
              <a class="page-link" th:href="${list.last} ? '#' : @{/(page = ${list.number + 2})}">
                <span>&gt;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" th:href="@{/(page = ${list.totalPages})}">
                <span>>></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

</html>